<div class="elite8-hero"></div>
<div class="shoe-detail-header">
  <p class="shoe-name">NIKE AIR ZOOM ELITE 8</p>
  <p class="shop-nike"><%= link_to "SHOP NIKE ZOOM" ,  "/" %></p>
</div>
<div class="tool-tips">
  <div class="plus">
    <%= image_tag "/images/tool-tip.png", :class => "elite8-tool-1 tools" %>
  </div>
  <div class="plus">
    <%= image_tag "/images/tool-tip.png", :class => "elite8-tool-2 tools" %>
  </div>
  <div class="plus">
    <%= image_tag "/images/tool-tip.png", :class => "elite8-tool-3 tools" %>
  </div>
  
  
  
</div>
<div class="pegasus-dialog-wrapper">
  <div class="pegasus-dialog">
    <%= image_tag "/images/tool-tip-black.png", :class => "pd-tool"%>
    <div class="dialog">
      <p class="elite8-dialog-1 js-hover">
        Ultra-thin outsole keeps weight low, traction high.
      </p>
      <p class="elite8-dialog-2 js-hover">
        Forefoot Zoom Air unit delivers highly responsive cushioning.
      </p>
      <p class="elite8-dialog-3 js-hover">
        Flymesh upper with Flywire cables provides comfortable support.
      </p>
    </div>
  </div>
</div>