<div class="past_feature-wrapper">
  <div class="past_feature-container">
    <p class="past-label"> PAST FEATURES: </p>
    <div class="past-album-covers">
      <div id="listitems-pagination">
        <a id="listitems-previous" href="#"><%= image_tag "left-arrow.png", :class => "arrows left-arrow" %></a> 
        <ul id="listitems">
          <% data.artists.features.each_with_index do |feature, index| %>
            <% if feature.status == 3 %>
              <li>
                <%= image_tag "#{feature.album_cover}", :class => "album-cover mfac past-album" %>
                <div class="past-artists-details">
                  <p class="past-artist"><%= feature.artist_1 %></p>
                  <p class="past-album-name"><%= feature.album_name %></p> 
                </div>
                <% if index % 5 == 4 || index % 5 == 3 %>
                  <div class="info-hover-last">
                    <div class="last-two-past">
                      <%= image_tag "past_right_arrow.png", :class => "past-left-arrow" %>
                      <div class="info-hover-content">
                        <div class="author-banner">
                          <p> BY <span><%= feature.author %></span> ON <%= feature.pub_date %></p>
                        </div>
                        <%= image_tag "#{feature.score}", :class => "past-rating" %>
                        <p class="album-name"> <%= feature.track_name %></p>
                        <p class="record-label"><%= feature.record_label %></p>
                        <div class="past-review-container">
                          <p class="past-review">
                            <%= feature.review %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% else %>
                  <div class="info-hover-first">
                    <div class="first-three-past">
                      <%= image_tag "past_left_arrow.png", :class => "past-left-arrow" %>
                      <div class="info-hover-content">
                        <div class="author-banner">
                          <p> BY <span><%= feature.author %></span> ON <%= feature.pub_date %></p>
                        </div>
                        <%= image_tag "#{feature.score}", :class => "past-rating" %>
                        <p class="album-name"> <%= feature.track_name %></p>
                        <p class="record-label"><%= feature.record_label %></p>
                        <div class="past-review-container">
                          <p class="past-review">
                            <%= feature.review %>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </li>
            <% end %>
          <% end %>
        </ul>
        <a id="listitems-next" href="#"><%= image_tag "right-arrow.png", :class => "arrows right-arrow" %> </a> 
      </div>
    </div>
  </div>
</div>