<div class="pegasus-hero"></div>
<div class="shoe-detail-header">
  <p class="shoe-name">NIKE AIR ZOOM PEGASUS 32</p>
  <p class="shop-nike"><%= link_to "SHOP NIKE ZOOM" ,  "/" %></p>
</div>
<div class="tool-tips">
  <div class="plus">
    <%= image_tag "/images/tool-tip.png", :class => "pegasus-tool-1 tools" %>
  </div>
  <div class="plus">
    <%= image_tag "/images/tool-tip.png", :class => "pegasus-tool-2 tools" %>
  </div>
  <div class="plus">
    <%= image_tag "/images/tool-tip.png", :class => "pegasus-tool-3 tools" %>
  </div>
</div>
<div class="pegasus-dialog-wrapper">
  <div class="pegasus-dialog">
    <%= image_tag "/images/tool-tip-black.png", :class => "pd-tool"%>
    <div class="dialog">
      <p class="pegasus-dialog-1 js-hover">
        Heel Zoom Air unit delivers highly responsive cushioning.
      </p>
      <p class="pegasus-dialog-2 js-hover">
        Crash rail underfoot helps
        smooth out footstrike
      </p>
      <p class="pegasus-dialog-3 js-hover">
        Engineered mesh upper with Flywire
        cables provides secure comfort.
      </p>
    </div>
  </div>
</div>