<div class="sub_feature-wrapper">
  <div class="sub_feature-container">
    <% data.artists.features.each_with_index do |feature, index| %>
      <% if feature.status == 2 %>
        <% if index % 2 != 0 %> 
          <div class="author-band" >
            <p> BY <span><%= feature.author %></span> ON <%= feature.pub_date %></p>
          </div>
          <div class="sub_feature-info">
            <div class="sub_feature-info-container">
              <div class="sub_feature-left">
                <%= image_tag "main-sub_feature/album-cover.png", :class => "album-cover mfac sub-left" %>
                <div class="find-at">
                  <p> FIND AT: </p>
                  <p> Insomnia | Amazon MP3 & CD </p>
                </div>
                <div class="track-info">
                  <p class="artist-name"> <%= feature.artist_1 %> </p>
                  <p class="album-name"> <%= feature.album_name %></p>
                  <p class="record-label"><%= feature.record_label %></p>
                </div>
              </div>
              <div class="sub_feature-right">
                <div class="review-audio">
                  <p class="track-name"><%= feature.track_name %></p>
                  <p class="short-review"><%= feature.short_review %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if index % 2 == 0 %>
          <div class="author-band" >
            <p> BY <span><%= feature.author %></span> ON <%= feature.pub_date %></p>
          </div>
          <div class="sub_feature-info">
            <div class="sub_feature-info-container">
              <div class="sub_feature-right">
                <%= image_tag "main-sub_feature/album-cover.png", :class => "sub-right album-cover mfac" %>
                <div class="find-at">
                  <p> FIND AT: </p>
                  <p> Insomnia | Amazon MP3 & CD </p>
                </div>
                <div class="track-info">
                  <p class="artist-name"> <%= feature.artist_1 %> </p>
                  <p class="album-name"> <%= feature.album_name %></p>
                  <p class="record-label"><%= feature.record_label %></p>
                </div>
              </div>
              <div class="sub_feature-right">
                <div class="review-audio">
                  <p class="track-name"><%= feature.track_name %></p>
                  <p class="short-review"><%= feature.short_review %></p>
                </div>
              </div>
            </div>
          </div>

        <% end %>
      <% end %>
    <% end %>
  </div>
</div>