<div class="zoom-family-hero"></div>
<div class="shoe-detail-header">
  <p class="shoe-name white">NIKE ZOOM FAMILY</p>
  <p class="shop-nike white"><%= link_to "SHOP NIKE ZOOM" ,  "/" %></p>
</div>
<div class="tool-tips">
  <%= image_tag "/images/tool-tip.png", :class => "zoom-family-tool-1 tools" %>
  <%= image_tag "/images/tool-tip.png", :class => "zoom-family-tool-2 tools" %>
  <%= image_tag "/images/tool-tip.png", :class => "zoom-family-tool-3 tools" %>
  <%= image_tag "/images/tool-tip.png", :class => "zoom-family-tool-4 tools" %>
</div>
<div class="pegasus-dialog-wrapper">
  <div class="pegasus-dialog">
    <%= image_tag "/images/tool-tip-black.png", :class => "pd-tool"%>
    <div class="dialog">
      <p class="white zoom-family-dialog-1 js-hover">
        Ultra-thin outsole keeps weight low, traction high.
      </p>
      <p class="white zoom-family-dialog-2 js-hover">
        Forefoot Zoom Air unit delivers highly responsive cushioning.
      </p>
      <p class="white zoom-family-dialog-3 js-hover">
        Flymesh upper with Flywire cables provides comfortable support.
      </p>
    </div>
  </div>
</div>