<div class="zoom-family-hero"></div>
<div class="shoe-detail-header">
  <p class="shoe-name white">NIKE ZOOM FAMILY</p>
  <p class="nzoom shop-nike"><%= link_to "SHOP NIKE ZOOM" ,  "http://www.eastbay.com/_-_/keyword-nike+zoom+running+shoes" %></p>
</div>
<div class="tool-tips">
  <div class="plus">
    <%= image_tag "/images/tool-tip.png", :class => "zoom-family-tool-1 tools" %>
  </div>
  <div class="plus">
    <%= image_tag "/images/tool-tip.png", :class => "zoom-family-tool-2 tools" %>
  </div>
  <div class="plus">
    <%= image_tag "/images/tool-tip.png", :class => "zoom-family-tool-3 tools" %>
  </div>
  <div class="plus">
    <%= image_tag "/images/tool-tip.png", :class => "zoom-family-tool-4 tools" %>
  </div>
</div>
<div class="pegasus-dialog-wrapper">
  <div class="zoom-dialog">
    <%= image_tag "/images/tool-tip.png", :class => "pd-tool"%>
    <div class="zoom dialog">
      <p class="white zoom-family-dialog-1 js-hover">
        Nike Air Zoom Structure 18
      </p>
      <p class="white zoom-family-dialog-2 js-hover">
        Nike Air Zoom Elite 8
      </p>
      <p class="white zoom-family-dialog-3 js-hover">
        Nike Air Zoom Pegasus 32
      </p>
      <p class="white zoom-family-dialog-4 js-hover">
        Nike Air Zoom Vomero 10
      </p>
    </div>
  </div>
</div>