---
title: Castle Noise
---

<section class="main">
  <%= partial "layouts/partials/header" %>
  <section class="main-feature">
  <% data.artists.features.each do |feature| %>
    <% if feature.status == 1 %>
      <h1 class="feature-1"><%= feature.artist_1 %></h1>
      <p><%= feature.review %></p>
    <% end %>
    <% if feature.status == 2 %>
      <h2 class="feature-2"><%= feature.artist_1 %></h2>
      <p><%= feature.review %></p>
    <% end %>
  <% end %>
  </section>
</section>