---
title: Castle Noise
---
<div class ="castlenoise">
  <section class="main main-toggle">
    <%= partial "layouts/partials/header" %>
    <%= partial "layouts/partials/feature" %>
    <%= partial "layouts/partials/sub_feature" %>
    <%= partial "layouts/partials/past_feature" %>
    <%= partial "layouts/partials/footer" %>
  </section>
  <section class="drawer">
    <%= partial "layouts/partials/drawer" %>
  </section>
</div>