---
title: Castle Noise
---

<section class="main">
  <%= partial "layouts/partials/header" %>
  <%= partial "layouts/partials/feature" %>
  <%= partial "layouts/partials/sub_feature" %>
  <%= partial "layouts/partials/past_feature" %>
  <%= partial "layouts/partials/footer" %>
</section>